.left-Navbar {
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    width: 230px;
    height: 80px;
    font-size: 20px;
}

.left-Navbar div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.left-Navbar img {
    margin-right: 10px;
}

.left-Navbar-Library {
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    width: 230px;
    height: 80px;
    font-size: 20px;
}

.left-Navbar-Library .Top-row {
    display: flex;
}

.left-Navbar-Library .Bottom-row {
    display: flex;
}

.left-Navbar-Library .Top-row div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.left-Navbar-Library img {
    margin-right: 10px;
}

.left-Navbar-Library .Library {
    margin-right: 10px;/
}

.left-Navbar-Library .plus,
.left-Navbar-Library .arrow-right {
    margin-left: 10px;
}

.left-Navbar-Library .plus:hover::after {
    content: "Create Playlist or Folder";
    position: absolute;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 10px;
    margin-top: -30px;
    z-index: 1;

}

.left-Navbar-Library .arrow-right:hover::after {
    content: "Show More";
    position: absolute;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 10px;
    margin-top: -30px;
    z-index: 1;
}

.left-Navbar-Library .Bottom-row div {
    border: 1px solid black;
    border-radius: 12px;
    padding: 5px;
    font-size: 15px;
    margin-top: -20px;

    margin-right: 10px;
}

.left-Navbar-Library .Library:hover::after {
    content: "Collapse your Library";
    display: flex;
    position: absolute;
    margin-top: -70px;
    font-size: 10px;
    z-index: 1;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 3px;
    margin-left: 10px;
}
.left-Navbar-scroll{
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    width: 230px;
    height: 180px;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
}
.left-Navbar-scroll-upper{
    display: flex;
    align-items: center;
}
.left-Navbar-scroll .left-Navbar-scroll-upper .SearchClass {
    margin-right: 110px;
}
.left-Navbar-scroll .RecentsList{
    margin-right: 10px;
    margin-bottom: 6px;
}
.left-Navbar-scroll .left-Navbar-scroll-upper .SearchClass:hover::after{
    content: "Search in You Library";
    display: flex;
    position: absolute;
    margin-top: -50px;
    font-size: 12px;
    z-index: 1;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 3px;
    margin-left: 10px;
}
.Right-navbar{
    border: 2px solid black;
    height: 388px;
    font-size: 20px;
    margin-left: 271px;
    margin-top: -395px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 500px;
}
.Right-navbar-second{
    display: flex;
}
.Right-navbar-second div{
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
    padding: 3px;
}
.Right-navbar-first{
    display: flex;
    margin-top: 15px;
}
.Right-navbar .Right-navbar-first .Explore-Premium {
    margin-left: 640px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 3px;
    font-size: 17px;
}
.Right-navbar .Right-navbar-first .Bell-img {
    margin-left: 15px;
}
.Right-navbar .Right-navbar-first .groups-img {
    margin-left: 15px;
}
.Right-navbar .Right-navbar-first .profile-img {
    margin-left: 15px;
}

.Bottom-navbar{
    margin-top: 200px;
    height: 90px;
    width: 100%;
    border: 2px solid black;
}

.btm-middle{
 
     
}

 